html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98%;
    margin: 1px;
    padding: 1px; 

    font-family: 'Roboto', sans-serif;
}
.profile{
    border-radius: 49%;
}
.background{
    background-color: rgb(255, 166, 0);
    max-width: 80%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left, .right{
    background-color: navy;
    margin: 10px;
    max-width: 60%;
    flex: 1;
}

.left {
    align-items: center;
    justify-content: center;
}

.intro{
    font-family: 'Open Sans', sans-serif;
}

.links{
    display:inline-block;
    margin-left: 12px;
}

.body{
    /*fading effect*/
    background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgb(3, 102, 129) 100%);
}