.col-xs-4 {
  margin: 1px;
  width: 150px;
  height: 150px;
  border: 2px black solid;
  text-align: center;
  font-weight: bold;
  font-family:  Cursive, Ubuntu, Roboto, Arial, sans-serif;
  font-size: 100px;
  cursor: pointer;
}

.row {
  margin: auto;
}

#title {
  font-size: 50px;
  margin: 
}

#message {
  font-size: 24px;
  margin-bottom: 10px;
}
#over {
  display: inline;
}

#machine {
  display: inline;
}